.vs
Mumble.FirstGame.ConsoleApp/obj/Mumble.FirstGame.ConsoleApp.csproj.nuget.dgspec.json
Mumble.FirstGame.ConsoleApp/obj/Mumble.FirstGame.ConsoleApp.csproj.nuget.g.props
Mumble.FirstGame.ConsoleApp/obj/project.assets.json
Mumble.FirstGame.ConsoleApp/obj/project.nuget.cache
